
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #ff900E;
}

/* dark-02 */
.text-gray{
    color: #424242;
}

/* dark-03 */
.text-light-gray{
    color: #727272;

}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width:1440px ;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
  font-size: 2.8rem;  
  font-weight: 700;
}
/* header styles */

/* navber related styles */
.navber{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navber, .banner{
    max-width:1440px ;
    margin: 0 auto;
}

/* banner related styles */

.banner-content{
    max-width: 850px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;

}

.banner-img{
    width: 100% ;
}

/* team and features related styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-img-container img:hover{
    transform: scale(1.3);
    transition: 2s;
    cursor: pointer;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#Quick-list{
    color: rgba(114, 114, 114, 1);
    font-size: 2.8rem;
    font-weight: 500;
}

#our{
    font-size: 2.8rem;
    font-weight: bold;
}
#feature{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: bold;
}
.feature-discription{
    color: rgba(114, 114, 114, 1);
     
}

/* feature  */
.features{
    gap: 140px;
}
#feature-border{
    border-left: 5px solid #FF900E;
    padding: 20px;
}
.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.07);
}
.badge{
    background-color: #FF900E;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 40px 30px;
    margin-left: -100px;
    margin-top: -100px;
    cursor: pointer;
}
.badge:hover{
    background-color: white;
    color: #FF900E;
    border: 3px solid #FF900E;
    transform: rotate(30deg) scale(1.2);
    transition: 2s;
}
#badge-year{
    font-size: 3.5rem;
    font-weight: bold;
}
#experience{
    font-size: 1.5rem;
}


/* Some facts */
.section-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 24px;
}
.section-discription{
    color: #727272;
    line-height: 26px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    justify-items: center;
    
}
.card{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.card:hover{
    background-color: #f1d9244e;
    transform: scale(1.3);
    transition:2s;
}
.card-number{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.card-discription{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}


/* sponsor styles */
.sponsor-title{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsors-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.sponsors-companies img{
    filter: grayscale(100%);
    cursor: pointer;
}
.sponsors-companies img:hover{
    filter: none;
    transform: scale(1.4);
    transition: 2s;
}




/* responsive media query */
@media screen and (max-width:576px) {
    .navber,
    .nav-links,
    .teams{
        flex-direction: column;
         margin-top: 20px;
    }

      .btn-primary{
         margin-top: 30px;
    }
    .team-img-container .card-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .team-img-container img:hover{
        transform: scale(1.13);
    }

    .our-features{
        margin-top: 30px;
        margin-left: 40px;
    }

    .card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        justify-items: center;
    }

     .some-facts{
        text-align: center;
        margin-top: 0;
    }

     .our-sponsors{
        margin-top: 50px;
    }

    .sponsors-companies{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }

    .features{
        flex-direction: column;
        margin-top: 20px;
    }

     .feature-image img{
        width: 100%;
    }
    .badge{
        margin-top: 20px;
        margin-left: 12%;
    }
    .badge:hover{
        transform: scale(1.2);
    }

    .card:hover{
        transform: scale(1.2);
        transition:1.5s;
    }

}

/* Responsive Medium Device */

@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 50px auto;
    }

    .some-facts{
        text-align: center;
        margin-top: 50px;
    }


     .card-container{
        justify-items: center;
        gap: 24px;
    }
    
 .sponsors-companies{
        grid-template-columns: repeat(3,1fr);
        gap: 40px;
    }
    .features{
        flex-direction: column;
        margin-top: 20px;
    }
    .feature-image img{
        width: 100%;
        margin-top: -50px;
        
    }
    .badge{
        margin-top: -50%;
        margin-left: 10%;
    }
    .badge:hover{
        transform: scale(1.1);
    }

    .card:hover{
        transform: scale(1.2);
        transition:1.5s;
    }
    
}   